@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deposit money</title>
</head>
<body>
    <div>
        <form action="/Deposit/Deposit" method="post">
            <p />
            Deposit amount  <input type="number" name="depositAmount" min="0" step="0.01" required /> <p />
            <input type="submit" value="Deposit" />
        </form>
    </div>
</body>
