@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Close account</title>
</head>
<body>
    <div>
        <form action="/Home/Close" method="post">
            Закрыть счет?
            <table>
                <tr><td><input type="submit" value="Close" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>